.HIWStepsContainer {
  margin-left: 10%;
  > .bi-arrow-down {
    font-size: 35px;
    margin-left: 22px;
    color: var(--orange-color);
  }
}

@media screen and (max-width: 850px) {
  .HIWStepsContainer {
    margin-left: 0;
  }
}
