.iconStep {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: var(--orange-color);
  i {
    color: var(--white-color);
    font-size: 35px;
  }
}
