.searchBar {
  width: 33%;
  min-width: 285px;
  max-width: 634px;
  height: 35px;
  margin: 19px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 0.4s;
}

@media screen and (max-width: 850px) {
  .searchBar {
    width: 55%;
    min-width: 0;
    margin: 8px 0;
    position: absolute;
  }
}
