{
  "importOrder": [
    "assets/(.*)$",
    "atoms/(.*)$",
    "molecules/(.*)$",
    "organisms/(.*)$",
    "templates/(.*)$",
    "pages/(.*)$",
    "domain/(.*)$",
    "application/(.*)$",
    "infraestructure/(.*)$",
    "^./I",
    ".css",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
