{
  "importOrder": [
    "atoms/(.*)$",
    "molecules/(.*)$",
    "organisms/(.*)$",
    "domain/(.*)$",
    "application/(.*)$",
    "infraestructure/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
