{
  "importOrder": [
    "assets/(.*)$",
    "atoms/(.*)$",
    "molecules/(.*)$",
    "organisms/(.*)$",
    "templates/(.*)$",
    "pages/(.*)$",
    "domain/(.*)$",
    "application/(.*)$",
    "infraestructure/(.*)$",
    "(.*)Helper",
    "use(.*)",
    "^./I",
    "^[./]",
    ".scss$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
