.searchBar {
  width: clamp(285px, 35%, 634px);
  height: 35px;
  margin: 19px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 0.4s;
}

@media screen and (max-width: 850px) {
  .searchBar {
    width: 55%;
    min-width: 0;
    margin: 8px 0;
    position: absolute;
    &--focus {
      max-width: 100%;
      animation: onFocus 0.5s;
      animation-fill-mode: forwards;
    }
    &--blur {
      max-width: 100%;
      animation: onBlur 0.5s;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes onFocus {
  0% {
    width: 55%;
    height: 35px;
  }
  40% {
    width: 100%;
    height: 35px;
  }
  100% {
    width: 100%;
    height: 73px;
  }
}

@keyframes onBlur {
  0% {
    width: 100%;
    height: 73px;
  }
  40% {
    width: 100%;
    height: 35px;
  }
  100% {
    width: 55%;
  }
}
