.inputSearchBar {
  width: 87%;
  height: 100%;
  border: none;
  border-radius: 8px 0 0 8px;
  padding: 0 10px;
  outline: none;
}

@media screen and (max-width: 850px) {
  .inputSearchBar {
    width: 75%;
  }
}
