@mixin dottedBorder(
  $color: #8f8f8f,
  $orientation: horizontal,
  $position: top,
  $spacing: 5px,
  $size: 1px
) {
  background-position: $position;
  @if $orientation == horizontal {
    background-image: linear-gradient(
      to right,
      $color $size/$spacing * 100%,
      rgba(255, 255, 255, 0) 0%
    );
    background-size: $spacing $size;
    background-repeat: repeat-x;
  } @else {
    background-image: linear-gradient(
      $color $size/$spacing * 100%,
      rgba(255, 255, 255, 0) 0%
    );
    background-size: $size $spacing;
    background-repeat: repeat-y;
  }
  .ie9 & {
    border-#{$position}: 1px dotted $color;
  }
}

.fieldsForm {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: var(--orange-contrast-color);
  &__submitButton {
    width: clamp(200px, 20%, 300px);
  }
  &__dropArea {
    margin-top: 50px;
    width: clamp(400px, 70%, 700px);
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%238F8F8FFF' stroke-width='4' stroke-dasharray='6%2c 18' stroke-dashoffset='11' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 8px;
    padding: 25px 0px;
    transition: all ease 0.1s;
    &--isOver {
      margin-top: 50px;
      width: clamp(400px, 70%, 700px);
      border-radius: 8px;
      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%23FDFDFDFF' stroke-width='4' stroke-dasharray='6%2c 18' stroke-dashoffset='11' stroke-linecap='square'/%3e%3c/svg%3e");
      padding: 25px 0px;
      background-color: var(--grey-contrast-color);
      transition: all ease 0.1s;
      > div {
        color: var(--white-color);
      }
    }
  }
}
