.mainTitle {
  width: 100%;
  max-width: 1300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1% auto;
  h1 {
    text-align: center;
    font-size: 34px;
  }
}

@media screen and(max-width: 850px) {
  .mainTitle {
    width: 90%;
    h1 {
      font-size: 20px;
    }
  }
}
