.categoryCard-img {
  width: 140px;
  position: absolute;
  top: -55px;
  left: 20px;
}

@media screen and (max-width: 808px) {
  .categoryCard-img {
    width: 95px;
    top: -30px;
    left: 0px;
  }
}
