.qualityCard {
  width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

@media screen and (max-width: 350px) {
  .qualityCard {
    width: 150px;
  }
}
