.categoryCard {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  text-decoration: none;
  position: relative;
  &__titleContainer {
    width: 85%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

@media screen and (max-width: 808px) {
  .categoryCard {
    width: clamp(250px, 45%, 320px) !important;
    .imageAbsolute {
      width: 95px !important;
      top: -30px !important;
      left: 0px !important;
    }
  }
}
