.titleWithHead {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

@media screen and (max-width: 670px) {
  .titleWithHead {
    display: flex;
    align-items: flex-start !important;
    .titleH3Light,
    .titleH2 {
      text-align: left !important;
    }
  }
}
