.aboutUsDescription {
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 100px 0;
  &__definition {
    width: 50%;
    margin-bottom: 90px;
  }
  &__textSoftContainer {
    margin-top: 25px;
    width: 80%;
  }
  &__image {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
    img {
      width: 50%;
      min-width: 170px;
    }
  }
}

@media screen and (max-width: 900px) {
  #blob7,
  #blob8 {
    display: none;
  }
}

@media screen and (max-width: 670px) {
  .aboutUsDescription {
    height: auto;
    .layout-blobs {
      flex-direction: column !important;
    }
    &__definition {
      width: 85%;
      margin-bottom: 55px;
    }
    &__image {
      width: 100%;
      img {
        min-width: 50px;
      }
    }
  }
}
