.profileButton {
  width: auto;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;
  &__icon {
    font-size: 2.6em;
    color: var(--orange-color);
  }
}

@media screen and (min-width: 850px) {
  .profileButton {
    display: none;
  }
}
