.benefitsStudentsAboutUs {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  padding-bottom: 200px;
  &__benefits {
    max-width: 1300px;
    display: grid;
    background-color: var(--white-full-color);
    grid-template-columns: repeat(7, 1fr);
    place-items: center;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.15);
    padding: 30px 30px;
    position: relative;
    margin: 70px;
  }
  &__divisorLine {
    height: 230px;
    width: 2px;
    margin: 20px 0;
    background-color: var(--grey-color);
  }
  &__button {
    width: 170px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -25px;
  }
}

@media screen and (max-width: 1200px) {
  .benefitsStudentsAboutUs {
    &__benefits {
      width: 80%;
      grid-template-columns: 1fr 50px 1fr;
      grid-template-rows: repeat(2, 1fr);
      :nth-child(4) {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 670px) {
  .benefitsStudentsAboutUs {
    padding-bottom: 0;
    &__titleContainer {
      width: 85%;
    }
    &__benefits {
      width: 65%;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 20px 1fr 20px 1fr 20px 1fr;
      row-gap: 20px;
      padding-bottom: 80px;
      :nth-child(4) {
        display: block;
      }
    }
    &__divisorLine {
      width: 80%;
      height: 2px;
    }
    #blob9 {
      display: none;
    }
  }
}
