.fieldsBase {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--white-full-color);
  border-radius: 8px;
  padding: 25px 0;
  &__deleteButton {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    button {
      background-color: transparent;
      border: none;
      font-size: 36px;
      color: rgba($color: #000000, $alpha: 0.55);
      cursor: pointer;
    }
  }
  > form {
    width: 85%;
    h3 {
      margin: 25px 0;
    }
    textarea {
      width: calc(100% - 6px - 20px);
      height: 100px;
      resize: none;
      padding: 12px;
      outline-color: var(--orange-color);
      border: 2px solid var(--grey-color);
      border-radius: 5px;
    }
    .buttonToggle {
      display: flex;
      gap: 20px;
      margin: 20px 0;
    }
  }
}
